NODE_ENV=development
DEBUG=1
DATABASE_URL=postgresql://postgres:postgres@localhost:54329/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres:postgres@localhost:54322/postgres
SUPABASE_URL=http://127.0.0.1:54321
SUPABASE_PUBLISHABLE_KEY=<REPLACE>
SUPABASE_SECRET_KEY=<REPLACE>
SUPABASE_JWKS_URL=http://127.0.0.1:54321/auth/v1/.well-known/jwks.json